@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&display=swap");
body {
  overflow-x: hidden;
}

.spiky-button {
  padding: 5px;
  border: 2px #300 solid;
  width: 110%;
  text-align: center;
  border-radius: 5px;
  background-color: #600;
  color: #eee;
  font-family: Cinzel;
  font-size: 1.2rem;
  border-radius: 20px 5px;
  transition: all 0.3s;
}

.spiky-button:hover {
  transform: scale(1.1);
  color: #f81414;
  font-size: 1.5rem;
  font-family: "Protest Revolution";
}

.titleStart {
  font-family: Cinzel;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}


h1 {
  color: #900;
  font-size: 3rem;
  font-family: Cinzel;
  text-align: center;
}

.resume, li, p, span{
  font-weight: 500;
  font-size: 1.1rem;
  color: #000;
}

.continue{
  max-width: 60%;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

a{text-decoration: none;}